.project {
    height: 100%;
    width: 100%;
}

.project__inner {
    height: 95vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.project__content {
    width: 95%;
}

.project__image {
    width: 100%;
    height: auto;
    margin: 1rem auto;

    img {
        width: 100%;
        object-fit: cover;
    }
}


.project__description {
    font-size: 1.4rem;
}

@media (min-width: 800px) {

    .project__inner {
        min-height: 700px;
    }
    
    .project__image {
        width: 58vw;
        min-width: 400px;
    }
}
